<a href="/celebrities">Go back</a>
<a href ="/celebrities/new">Create Celebrities</a>
    <div>
        <div> <img src="{{celebrity.image}}"></div>      
        <div>
            <h2> {{celebrity.name}}</h1>
            <h3> Occupation: {{celebrity.occupation}}</h3>
            <p> CatchPhrase: {{celebrity.catchPhrase}}</p>
       </div>
        </div>
   