<h1>Welcome to Mongoose Movies and Celebrities</h1>
<p>{{title}}</p>
<div class="btn-group">
  <a href="/movies" class="btn btn-primary" aria-current="page">Movies</a>
  <a href="/celebrities" class="btn btn-primary">Celebrities</a>
</div>