<h1>Bienvenido a Moongoose Movies</h1>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Hola {{users.username}} feliz que estas de vuelta </h5>

    </div>
</div>